.homePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input-label {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

.input-date {
  border: 2px solid #EFBC9B;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  width: 150px;
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.date-container {
  position: relative;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

.next-button {
  background-color: #EFBC9B;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.next-button:hover {
  background-color: #C88E6A;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

button {
  margin-top: 10px;
}
