/* ใส่สไตล์เพื่อตกแต่งหน้า NextPage ให้เหมือนกับหน้าหลัก */
.nextPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.nextPageText {
    margin-top: 20px;
    font-size: 18px;
}

.nextPageImage {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
}

/* ปุ่มปิด */
.close-button {
    background-color: #EFBC9B;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* ปรับระยะห่างด้านบน */
}

.close-button:hover {
    background-color: #C88E6A;
}
